.reviews {
    position: relative;

    padding: 6rem 0;

    &::before {
        content: '';
        position: absolute;
        inset: 0;

        background: url('./../img/main/background-img.png') center / cover no-repeat;

        opacity: 0.15;
    }

    &__wrapper {
        width: 100%;

        h2 {
            margin-bottom: 5rem;

            text-align: center;
            text-transform: uppercase;

            /* Mobile XS */
            @media (max-width: 599px) {
                margin-bottom: 3rem;
            }
        }
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        padding: 3rem 0;
    }
}