//text colors
$dark-color: #000;
$light-color: #FFF;

//background colors
$black-color: #000;
$white-color: #FFF;

//accent colors
$accent-color: #2252ff;
$second-color: #77dd77;
$second-color: #4fc77d;
//замена местами
$accent-color: #1bbe5a; //основной
$second-color: #0125a7; //основной
//замена местами-2
// $second-color: #58c5f8;
// $accent-color: #04923a;
//замена местами-3
// $second-color: #7b70ee;
// $accent-color: #b1e911;



